body{
    background-color: #FFF8F1;
    font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER */
header{
    width: 100%;
    height: 100%;
}
.personalBrand{
    font-family: Pacifico, cursive;
}
#profilePic img{
    margin: auto;
    height: 100%;
    width: auto;
}
#profilePic{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

/*SECTIONS*/
section{
    padding-top: 50px;
    width: 100%;
    height: 100%;
}
.sectionTitle{
    padding-bottom: 25px;
}
/*PORTFOLIO*/
.box{
    width: 33%;
    margin: auto;
}
.imgPortfolio{
    width: 100%;
    margin: auto;
}
#CV{
    display: none;
}