.personalBrand{
    font-family: Pacifico, cursive;
}

body{
    background-color: #f1f0ff;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    width: 100%;
    height: 100%;
    background-image: url("../img/mascotTinder.jpg");
}
section{
    padding-top: 50px;
}
.sectionTitle{
    padding-bottom: 25px;
}
.box{
    width: 33%;
    margin: auto;
}
.imgPortfolio{
    width: 100%;
    margin: auto;
}
#CV{
    display: none;
}